mixin about( aboutAmount, mainAbout, mainSource, about2, source2 )
      case (aboutAmount)
         when '2'
            .concept__text
               .concept__definition
                  i •
                  p !{mainAbout}
               .concept__source
                  case (mainSource)
                     when 'no'
                        .concept__source-icon-empty.icon-source
                     default
                        .concept__source-icon.icon-source
                        .concept__source-text !{mainSource}
            .concept__text
               .concept__definition
                  i •
                  p !{about2}
               .concept__source
                  case (source2)
                     when 'no'
                        .concept__source-icon-empty.icon-source
                     default
                        .concept__source-icon.icon-source
                        .concept__source-text !{source2}
         default
            .concept__text
               .concept__definition
                  i •
                  p !{mainAbout}
               .concept__source
                  case (mainSource)
                     when 'no'
                        .concept__source-icon-empty.icon-source
                     default
                        .concept__source-icon.icon-source
                        .concept__source-text !{mainSource}



