mixin type( typeAmount, type1, type2, type3, type4, type5 )
      case (typeAmount)
         when '1'
            div( class='icon-#{type1}' )
         when '2'
            div( class='icon-#{type1}' )
            div( class='icon-#{type2}' )
         when '3'
            div( class='icon-#{type1}' )
            div( class='icon-#{type2}' )
            div( class='icon-#{type3}' )
         when '4'
            div( class='icon-#{type1}' )
            div( class='icon-#{type2}' )
            div( class='icon-#{type3}' )
            div( class='icon-#{type4}' )
         when '5'
            div( class='icon-#{type1}' )
            div( class='icon-#{type2}' )
            div( class='icon-#{type3}' )
            div( class='icon-#{type4}' )
            div( class='icon-#{type5}' )



