mixin war( typeAmount, type1, type2, type3, type4, type5, id, name, data, place, placeWar, placeENG, placeWarENG, img, mainAbout, aboutAmount, about1, about2, about3, about3 )
   .wars__one_war.element-item( id='#{id}' )
      .war__icon
         include ___type-war
         +type( typeAmount, type1, type2, type3, type4, type5 )
         case (type1)
            when 'war'
               .war__icon-constant.icon-war
               .war__icon-constant-second.icon-map-marker
            default
               .war__icon-constant.icon-map-marker
      .war__meta
         .war__name #{name}
         .war__years #{data}
         case (type1)
            when 'war'
               case (placeWarENG)
                  when ''
                     .war__places #{placeWar}
                  default
                     a( href='war.html##{placeWarENG}' ).war__places #{placeWar}
         case (placeENG)
            when ''
               case (type1)
                  when 'war'
                     .war__places-second #{place}
                  default
                     .war__places #{place}
            default
               case (type1)
                  when 'war'
                     a( href='places.html##{placeENG}' ).war__places-second #{place}
                  default
                     a( href='places.html##{placeENG}' ).war__places #{place}
      include ___about-war
      +about( mainAbout, aboutAmount, about1, about2, about3, about3 )
      .war__photo
         img( src='../assets/img/war/#{img}' )



