//case (type)
//   when 'war'
//      .events__one_event.element-item( id='#{link}', class='#{type}__type', data-sort='#{bc}#{date}' )
//         .base_icon( class='icon-#{type}' )
//         a( href="war.html##{link}" ).event__date
//            .event__years !{date}
//            .event__name !{name}
//         .event__about
//            p.event__about-main !{mainAbout}
//            include ___text-event
//            +text( moreAmount, text, text2, text3, text4, text5 )
//         case (whereAmount)
//            when ''
//               .icon-trigger-place
//                  .base_icon.icon-map-marker-light
//            default
//               include ___where-event
//               +where( whereAmount, where, where2, where3, whereENG, whereENG2, whereENG3 )
//         include ___who-event
//         +who( whoAmount, who, who2, who3, whoENG, whoENG2, whoENG3 )
//   when 'battle'
//      .events__one_event.element-item( id='#{link}', class='#{type}__type', data-sort='#{bc}#{date}' )
//         .base_icon( class='icon-#{type}' )
//         a( href="war.html##{link}" ).event__date
//            .event__years !{date}
//            .event__name !{name}
//         .event__about
//            p.event__about-main !{mainAbout}
//            include ___text-event
//            +text( moreAmount, text, text2, text3, text4, text5 )
//         case (whereAmount)
//            when ''
//               .icon-trigger-place
//                  .base_icon.icon-map-marker-light
//            default
//               include ___where-event
//               +where( whereAmount, where, where2, where3, whereENG, whereENG2, whereENG3 )
//         include ___who-event
//         +who( whoAmount, who, who2, who3, whoENG, whoENG2, whoENG3 )
//   default
//      .events__one_event.element-item( id='#{link}', class='#{type}__type', data-sort='#{bc}#{date}' )
//         .base_icon( class='icon-#{type}' )
//         .event__date
//            .event__years !{date}
//            .event__name !{name}
//         .event__about
//            p.event__about-main !{mainAbout}
//            include ___text-event
//            +text( moreAmount, text, text2, text3, text4, text5 )
//         case (whereAmount)
//            when ''
//               .icon-trigger-place
//                  .base_icon.icon-map-marker-light
//            default
//               include ___where-event
//               +where( whereAmount, where, where2, where3, whereENG, whereENG2, whereENG3 )
//         include ___who-event
//         +who( whoAmount, who, who2, who3, whoENG, whoENG2, whoENG3 )
