mixin text( moreAmount, text, text2, text3, text4, text5 )
   case ( moreAmount )
      when '1'
         .info_more.base_panel_info( style='display: none' )
            p !{text}
      when '2'
         .info_more.base_panel_info( style='display: none' )
            p.mb-05 !{text}
            p !{text2}
      when '3'
         .info_more.base_panel_info( style='display: none' )
            p.mb-05 !{text}
            p.mb-05 !{text2}
            p !{text3}
      when '4'
         .info_more.base_panel_info( style='display: none' )
            p.mb-05 !{text}
            p.mb-05 !{text2}
            p.mb-05 !{text3}
            p !{text4}
      when '5'
         .info_more.base_panel_info( style='display: none' )
            p.mb-05 !{text}
            p.mb-05 !{text2}
            p.mb-05 !{text3}
            p.mb-05 !{text4}
            p !{text5}
