mixin type( typeAmount, type1, type2, type3, type4, type5 )
   case (typeAmount)
      when '1'
         .base_icon( class='icon-#{type1} #{type1}__sphere' )
      when '2'
         .base_icon( class='icon-#{type1} #{type1}__sphere' )
         .base_icon( class='icon-#{type2} #{type2}__sphere' )
      when '3'
         .base_icon( class='icon-#{type1} #{type1}__sphere' )
         .base_icon( class='icon-#{type2} #{type2}__sphere' )
         .base_icon( class='icon-#{type3} #{type3}__sphere' )
      when '4'
         .base_icon( class='icon-#{type1} #{type1}__sphere' )
         .base_icon( class='icon-#{type2} #{type2}__sphere' )
         .base_icon( class='icon-#{type3} #{type3}__sphere' )
         .base_icon( class='icon-#{type4} #{type4}__sphere' )
      when '5'
         .base_icon( class='icon-#{type1} #{type1}__sphere' )
         .base_icon( class='icon-#{type2} #{type2}__sphere' )
         .base_icon( class='icon-#{type3} #{type3}__sphere' )
         .base_icon( class='icon-#{type4} #{type4}__sphere' )
         .base_icon( class='icon-#{type5} #{type5}__sphere' )



